@import "null.css";
.wrapper {
   width: 810px;
   margin-left: 345px;
}
body {
   font-family: "Lato", serif;
   font-size: 16px;
   font-weight: 400;
   color: #1E212C;
   line-height: 160%;
}
.title {
   font-weight: 900;
   font-size: 46px;
   line-height: 1.3;
   margin-top: 190px;
   margin-bottom: 100px;
}
.image {
   height: 360px;
   margin-bottom: 60px;
}
.main-info {
   font-size: 16px;
   line-height:160%;
}
.paragraph-1 {
   font-weight: 700;
   font-size: 20px;
   margin-bottom: 24px;
}
.paragraph-2,
.paragraph-3,
.paragraph-4,
.paragraph-5 {
   margin-bottom: 26px;
}
ul {
   margin-left: 20px;
   margin-bottom: 24px;
}
li {
   margin-bottom: 4px;
}